<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>Edit Your Message</h2>

    <p>Sent By:- <%= chat.from %>
    </p>
    <p>Recived By:- <%= chat.to %>
    </p>
    <br> <br>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="post">    

        <textarea name="newMsg" id="" rows="10" cols="29"> <%= chat.msg %> </textarea>


        <button class="btn"> Update</button>
    </form>
</body>

</html>