<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>ADD New Chat</h1>
    <form action="/chats" method="post">
        <label for="from">
            Sender:-
            <input type="text" placeholder="Who are You?" name="from">
        </label> <br> <br>
        <label for="msg">
            Message:- <textarea name="msg" id="" placeholder="Write Your Message here..."></textarea>
        </label>
        <br> <br>
        <label for="to">
            Reciver:-
            <input type="text" placeholder="Who is this Message for" name="to">
        </label>
        <br> <br>
        <button class="btn">Send...</button>
    </form>
</body>

</html>