<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>Details of Your Message</h2>

    <p>Sent By:- <%= chat.from %>
    </p>
    <p>Recived By:- <%= chat.to %>
    </p>
    <p>Message := <%= chat.msg %> </p>



</body>

</html>