<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>

<body>
    <h1>Hii new User</h1>
    <form action="/user" method="post">
        <label for="username"> UserName:-
            <input type="text" name="username" placeholder="Enter your name">
        </label>
        <label for="email">Email:-
            <input type="email" name="email" placeholder="Enter your email">
        </label>
        <label for="password"> Password:-
            <input type="password" name="password" placeholder="Enter your password">
        </label>
        <button>Submit</button>
    </form>
</body>

</html>